.layout {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 32px;
  background: linear-gradient(
    to right bottom,
    rgba(150, 52, 136, 0.2),
    rgba(252, 111, 50, 0.2) 50%,
    rgba(252, 111, 50, 0.2) 100%
  );
  border-radius: 100px;
  text-align: center;
  .quantity {
    font-size: 64px;
  }
  .description {
    font-size: 24px;
  }
}
